<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yiyu.workbench" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>一隅</name>
    <description>个人工作台 - 记账/国学经典/幼儿启蒙/英语学习</description>
    <author email="dev@yiyu.app" href="https://yiyu.app">YiYu</author>
    <content src="index.html" />

    <!-- 允许访问所有外部资源（WebView 内部） -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Android 配置 -->
    <platform name="android">
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="AndroidInsecureFileModeEnabled" value="false" />
        <preference name="android-compileSdkVersion" value="34" />
    </platform>

    <!-- 允许导航和内容加载 -->
    <allow-navigation href="*" />
</widget>
